/* Thiết kế nền chung cho các phần trong trang web */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  text-rendering: optimizeLegibility; }

body {
  overflow-x: hidden; }

.row {
  max-width: 1140px;
  margin: 0 auto; }


/* Các cụm header của 3 trang */

/* Trang chủ */

.header {
  background-image: url(/resources/img/background.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover; }
  .header__logo {
    width: 25%;
    margin-top: 1.8rem;
    float: left; }
  .header__main-nav {
    float: right;
    margin-bottom: 5rem; }
    .header__main-nav li {
      display: inline-block;
      list-style: none;
      margin-right: 2rem;
      margin-top: 3.7rem;
      font-size: 120%; }
      .header__main-nav li a {
        text-decoration: none;
        color: #d5f3fe;
        font-weight: 700;
        text-transform: uppercase; }
        .header__main-nav li a:hover {
          color: #3c99dc; }
  .header__pagename {
    font-size: 450%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: -1rem; }
    .header__pagename span {
      color: #3c99dc;
      font-size: 200%; }
  .header__slogan {
    text-align: center;
    font-size: 200%;
    color: white;
    animation-name: moveInLeft;
    animation-duration: 2s; }
    .header__slogan span {
      color: #3c99dc; }

/* Trang giới thiệu */

.AboutUs-header {
  background-image: url(/resources/img/background.jpg);
  height: 26vh; }

/* Trang dịch vụ  */

.services-header {
  background-image: url(/resources/img/background.jpg);
  height: 26vh; }

  /* Hàm clearfix */

  .clearfix::after {
    content: " ";
    display: table;
    clear: both; }
  
/* Hiệu ứng cho button tìm hiểu thêm và "gửi" trong form */

.btn-learn-more {
  color: #d5f3fe;
  text-decoration: none;
  font-size: 120%;
  background-color: #3c99dc;
  padding: .5rem;
  border-radius: .5rem; }
  .btn-learn-more__service {
    margin-left: 5rem;
    padding: .6rem; }
  .btn-learn-more:hover {
    background-color: #d5f3fe;
    color: #3c99dc;
    transition: all 0.3s;
    box-shadow: 0 0 1rem #3c99dc, 0 0 4rem #3c99dc, 0 0 8rem #3c99dc; }
  .btn-learn-more:active {
    background-color: #f04217;
    color: #2565ae; }

  /* Thiết kế màu sắc và độ lớn font chữ cho toàn bộ trang web  */
html {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
  color: #5a5a5a;
  background-color: #ffffff; }

.about-section__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 250%;
  margin-bottom: 3rem;
  color: #d5f3fe;
  cursor: pointer; }
  .about-section__title:hover {
    transform: skewX(5deg) scale(1.1);
    transition: all 0.3s; }

.about-section__paragraph {
  font-size: 130%;
  line-height: 2rem;
  font-style: italic;
  margin-bottom: 1rem;
  color: #d5f3fe; }
  .about-section__paragraph span {
    color: #3c99dc; }

.services-section__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 250%;
  margin-bottom: 1.5rem;
  color: #d5f3fe;
  cursor: pointer; }
  .services-section__title:hover {
    transform: skewX(5deg) scale(1.1);
    transition: all 0.3s; }

.services-section__paragraph {
  text-align: center;
  color: #d5f3fe;
  margin-bottom: 2rem; }
  .services-section__paragraph span {
    color: #3c99dc; }

.services-section__main-content {
  font-size: 160%;
  text-transform: uppercase;
  text-align: center;
  color: #d5f3fe; }

.services-section__description {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #d5f3fe;
  font-style: italic; }

.clients-section__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 250%;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  color: #2565ae;
  cursor: pointer; }
  .clients-section__title:hover {
    transform: skewX(5deg) scale(1.1);
    transition: all 0.3s; }

.clients-section__paragraph {
  text-align: center;
  color: #2565ae;
  font-size: 120%;
  margin-bottom: 2rem; }
  .clients-section__paragraph span {
    color: #3c99dc; }

.contact-section__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 200%;
  margin-bottom: 1.5rem;
  color: #d5f3fe;
  cursor: pointer; }
  .contact-section__title:hover {
    transform: skewX(5deg) scale(1.1);
    transition: all 0.3s; }

.contact-section__HQ {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 100%;
  margin-bottom: 1.5rem;
  color: #d5f3fe;
  border-bottom: 0.1rem solid #f04217; }

.contact-section__info li {
  list-style: none;
  color: #d5f3fe;
  margin-bottom: 1.2rem;
  line-height: 1.5rem; }
  .contact-section__info li span {
    font-weight: 700; }
  .contact-section__info li .contact_icon {
    margin-right: .4rem;
    color: #f04217; }
    .contact-section__info li .contact_icon:hover {
      transform: scale(1.5);
      transition: all 0.3s; }

.contact-section__support {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 100%;
  margin-bottom: 1.5rem;
  color: #d5f3fe;
  border-bottom: 0.1rem solid #f04217; }

.contact-section__onlinesupport {
  margin-bottom: 1.5rem; }
  .contact-section__onlinesupport li {
    display: inline-block;
    margin-right: 1.2rem;
    margin-top: .8rem; }
  .contact-section__onlinesupport .contact__btn {
    color: #d5f3fe;
    text-decoration: none;
    font-size: 120%;
    background-color: #3c99dc;
    padding: .5rem;
    border-radius: .5rem; }
    .contact-section__onlinesupport .contact__btn .support_icon {
      margin-right: .4rem; }
    .contact-section__onlinesupport .contact__btn:hover {
      background-color: #d5f3fe;
      color: #2565ae;
      transition: all 0.3s;
      box-shadow: 0 0 1rem #3c99dc, 0 0 1.5rem #3c99dc, 0 0 2rem #3c99dc; }
    .contact-section__onlinesupport .contact__btn:active {
      background-color: #f04217;
      color: #2565ae; }

.contact-section__connect {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 100%;
  margin-bottom: 2rem;
  color: #d5f3fe;
  border-bottom: 0.1rem solid #f04217; }

.contact-section__socialnetwork li {
  display: inline-block;
  font-size: 280%; }

.contact-section__socialnetwork .socialnetwork__btn {
  margin-right: 1.5rem; }
  .contact-section__socialnetwork .socialnetwork__btn .social_icon {
    color: white; }
    .contact-section__socialnetwork .socialnetwork__btn .social_icon:hover {
      color: #f04217;
      transform: scale(1.5);
      transition: all 0.3s; }

.intro__title {
  margin-top: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 300%;
  margin-bottom: 0.5rem;
  color: #d5f3fe;
  cursor: pointer;
  display: flex; }
  .intro__title:hover {
    transform: skewX(1deg) scale(1.05);
    transition: all 0.3s; }
  .intro__title:before, .intro__title:after {
    content: '';
    border-top: 0.1rem solid;
    margin-top: 1.5rem;
    margin-right: 0.5rem;
    flex: 1 0 1rem; }
  .intro__title:after {
    margin-top: 1.5rem;
    margin-left: 0.5rem; }

.intro__paragraph {
  color: #d5f3fe;
  font-size: 120%;
  line-height: 1.8rem; }
  .intro__paragraph span {
    font-weight: 700;
    color: #2565ae; }

.functions__main-content {
  display: block;
  text-align: center;
  font-size: 120%;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  cursor: default; }

.functions .row {
  border-bottom: 0.1rem solid #d5f3fe; }

.functions__description {
  color: #d5f3fe;
  line-height: 1.8rem; }

.functions i {
  font-size: 400%;
  display: flex;
  margin-left: 4.3rem;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
  color: #f04217; }

.services__title {
  margin-top: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 300%;
  margin-bottom: 1rem;
  color: #d5f3fe;
  cursor: pointer;
  display: flex; }
  .services__title:hover {
    transform: skewX(1deg) scale(1.05);
    transition: all 0.3s; }
  .services__title:before, .services__title:after {
    content: '';
    border-top: 0.1rem solid;
    margin-top: 1.5rem;
    margin-right: 0.5rem;
    flex: 1 0 1rem; }
  .services__title:after {
    margin-top: 1.5rem;
    margin-left: 0.5rem; }

.services__main-content {
  display: block;
  text-transform: uppercase;
  font-size: 130%;
  font-weight: 700;
  margin-bottom: 0.5rem; }

.services__description--IaaS {
  color: #d5f3fe;
  margin-bottom: 3rem;
  padding: 1rem;
  border: 0.1rem solid #d5f3fe;
  line-height: 1.5rem; }

.services__description--PaaS {
  color: #d5f3fe;
  margin-bottom: 3rem;
  padding: 1rem;
  border: 0.1rem solid #d5f3fe;
  line-height: 1.5rem; }

.services__description--SaaS {
  color: #d5f3fe;
  margin-bottom: 3rem;
  padding: 1rem;
  border: 0.1rem solid #d5f3fe;
  line-height: 1.5rem; }
  .services__description--SaaS .SDocument {
    color: #3c99dc;
    font-weight: 700; }
  .services__description--SaaS .SSheet {
    color: #06ac38;
    font-weight: 700; }
  .services__description--SaaS .SSlides {
    color: #f8a306;
    font-weight: 700; }
  .services__description--SaaS .SNotes {
    color: #b33ff7;
    font-weight: 700; }
  .services__description--SaaS .SMail {
    color: #66d3fa;
    font-weight: 700; }

.contacts__title {
  margin-top: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 300%;
  margin-bottom: 3rem;
  color: #d5f3fe;
  cursor: pointer;
  display: flex; }
  .contacts__title:hover {
    transform: skewX(1deg) scale(1.05);
    transition: all 0.3s; }
  .contacts__title:before, .contacts__title:after {
    content: '';
    border-top: 0.1rem solid;
    margin-top: 1.5rem;
    margin-right: 0.5rem;
    flex: 1 0 1rem; }
  .contacts__title:after {
    margin-top: 1.5rem;
    margin-left: 0.5rem; }

.about-section {
  overflow: hidden;
  height: 100vh;
  padding-top: 2rem; }

.picture {
  position: relative;
  margin-left: 6rem; }
  .picture__photo {
    width: 60%;
    border-radius: 2rem;
    position: absolute; }
    .picture__photo--1 {
      left: 12rem; }
    .picture__photo--2 {
      top: 4.5rem;
      z-index: 1; }
    .picture__photo--3 {
      top: 9rem;
      left: 12rem; }
    .picture__photo:hover .picture__photo_photo:not(:hover) {
      transform: scale(0.7); }
    .picture__photo:hover {
      transform: scale(1.3);
      box-shadow: 0 1rem 2rem black;
      transition: all 0.3s;
      z-index: 10; }

.services-section {
  overflow: hidden;
  height: 110vh;
  padding-top: 2rem; }
  .services-section__photo {
    width: 80%;
    transform: translate(5%);
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem; }

.clients-section {
  height: 110vh;
  overflow: hidden; }
  .clients-section__logo {
    width: 50%;
    margin-bottom: 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto; }

.contact-section {
  height: 124vh;
  overflow: hidden;
  padding-top: 2rem; }

.intro {
  height: 100vh;
  padding-top: 4rem; }
  .intro__image {
    width: 100%; }

.functions {
  height: 80vh;
  padding-top: 1rem; }

.services {
  height: 160vh;
  padding-top: 4rem; }
  .services__images img {
    width: 100%;
    height: 29vh;
    margin-top: 1rem;
    margin-bottom: 3rem; }

.contacts {
  height: 160vh;
  padding-top: 4rem; }

.about-section {
  background-image: linear-gradient(to left, #424d7b, #1e1c28); }

.services-section {
  background-image: linear-gradient(to left, #1e1c28, #424d7b); }

.clients-section {
  background-color: #d5f3fe; }

.contact-section {
  background-image: linear-gradient(to left, #424d7b, #1e1c28); }

.intro {
  background-image: linear-gradient(to left, #424d7b, #1e1c28); }

.functions {
  background-image: linear-gradient(to left, #424d7b, #1e1c28); }

.services {
  background-image: linear-gradient(to left, #424d7b, #1e1c28); }

.contacts {
  background-image: linear-gradient(to left, #424d7b, #1e1c28); }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.slideshow {
  height: 40vh;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: linear-gradient(to left, #424d7b, #1e1c28); }
  .slideshow__navigation {
    position: absolute;
    bottom: -1570px;
    left: 50%;
    transform: translateX(-50%);
    display: flex; }
    .slideshow__navigation--bar {
      width: 15px;
      height: 10px;
      border: 2px solid white;
      border-radius: 40px;
      margin: 6px;
      cursor: pointer;
      transition: 0.4s; }
      .slideshow__navigation--bar:hover {
        background-color: white; }
  .slideshow__slides {
    width: 500%;
    height: 100%;
    display: flex; }
    .slideshow__slides--slide {
      width: 20%;
      transition: all 0.4s; }
      .slideshow__slides--slide img {
        width: 100%;
        height: 100%; }

input[name="r"] {
  position: absolute;
  visibility: hidden; }

#r1:checked ~ .s1 {
  margin-left: 0; }

#r2:checked ~ .s1 {
  margin-left: -20%; }

#r3:checked ~ .s1 {
  margin-left: -40%; }

#r4:checked ~ .s1 {
  margin-left: -60%; }

#r5:checked ~ .s1 {
  margin-left: -80%; }

.submit-form {
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: 3rem;
  width: 105%;
  padding-bottom: 4rem; }
  .submit-form__description {
    color: #d5f3fe;
    line-height: 1.4rem;
    text-align: center;
    font-style: italic;
    border-bottom: 0.1rem solid #f04217; }
  .submit-form__content {
    color: #d5f3fe;
    text-transform: uppercase;
    font-size: 130%;
    font-weight: 700;
    margin-top: 1.2rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    cursor: pointer; }
    .submit-form__content i {
      margin-right: 0.5rem;
      color: #f04217; }
  .submit-form input[type=text], .submit-form input[type=email] {
    outline: none;
    padding-bottom: 0.5rem;
    padding-right: 15rem;
    margin-left: 1rem;
    border-radius: 0.2rem; }
  .submit-form textarea {
    resize: none;
    margin-left: 1rem;
    padding-right: 16rem;
    padding-bottom: 4rem;
    border-radius: 0.2rem; }
  .submit-form input[type=text]:focus, .submit-form input[type=email]:focus, .submit-form textarea:focus {
    color: white;
    background-color: rgba(48, 47, 47, 0.8);
    font-weight: 700;
    transition: all 0.3s;
    font-size: 90%; }
  .submit-form input[type=submit] {
    margin-top: 1.5rem;
    margin-left: 12rem;
    color: #d5f3fe;
    text-decoration: none;
    font-size: 120%;
    font-weight: 700;
    background-color: #3c99dc;
    padding: .7rem 1.4rem;
    border-radius: .5rem;
    cursor: pointer; }
    .submit-form input[type=submit]:hover {
      background-color: #d5f3fe;
      color: #3c99dc;
      transition: all 0.3s;
      box-shadow: 0 0 0.5rem #3c99dc, 0 0 2rem #3c99dc, 0 0 4rem #3c99dc; }
    .submit-form input[type=submit]:active {
      background-color: #f04217;
      color: #2565ae; }

footer {
  text-align: center;
  background-color: #1e1c28;
  color: #d5f3fe;
  padding: 20px; }

/* Big tablet to 1200px */
@media only screen and (max-width: 1200px) {
  .header__pagename {
    margin-top: 2rem; }
  .picture {
    position: relative;
    margin-left: 4rem; }
    .picture__photo {
      width: 50%;
      border-radius: 2rem;
      position: absolute; }
      .picture__photo--1 {
        left: 9rem; }
      .picture__photo--2 {
        top: 4.5rem;
        z-index: 1; }
      .picture__photo--3 {
        top: 8rem;
        left: 9rem; }
  .submit-form {
    width: 87%; }
    .submit-form__content {
      font-size: 90%; }
    .submit-form__description {
      font-size: 85%; }
    .submit-form input[type=text], .submit-form input[type=email] {
      padding-right: 13rem; }
    .submit-form textarea {
      padding-right: 13rem; }
  .contact-section__onlinesupport .contact__btn {
    font-size: 100%; } }

/* Small tablet to big tablet from 768px to 1024px */
@media only screen and (max-width: 1024px) {
  html {
    font-size: 16px; }
  .header__pagename {
    margin-top: 6rem; }
  .picture__photo--3 {
    top: 7.5rem; }
  .submit-form input[type=text], .submit-form input[type=email] {
    padding-right: 10rem; }
  .submit-form textarea {
    padding-right: 10rem; }
  .submit-form input[type=submit] {
    margin-left: 10rem; } }

/* Small phones to small tablets from 767px to 481px */
@media only screen and (max-width: 767px) {
  html {
    font-size: 12px; }
  .header {
    height: 60vh; }
    .header__pagename {
      margin-top: 3rem; }
  .about-section {
    height: 60vh; }
  .services-section {
    height: 70vh; }
  .btn-learn-more {
    font-size: 100%; }
    .btn-learn-more__service {
      margin-left: 2.5rem; }
  .slideshow__navigation {
    bottom: -900px; }
  .clients-section {
    height: 60vh; }
  .submit-form input[type=text], .submit-form input[type=email] {
    padding-right: 2.5rem; }
  .submit-form textarea {
    padding-right: 2rem; }
  .submit-form input[type=submit] {
    margin-left: 7rem; } }
