$color-primary: rgb(60,153,220);
$color-primary-medium:rgb(102,211,250);
$color-primary-light:rgb(213,243,254);
$color-primary-dark:rgb(37,101,174);
$color-white: rgb(255,255,255);
$color-black: rgb(0,0,0);
$color-background-light:rgb(66,77,123);
$color-background-dark: rgb(30,28,40);
$color-orange:rgb(240, 66, 23);
$color-green: rgb(6, 172, 56);
$color-violet: rgb(179, 63, 247);
$color-orange-light:rgb(248, 163, 6);