*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    text-rendering: optimizeLegibility;
}
body{
    overflow-x: hidden;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}
.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}