html{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px;
    color: #5a5a5a;
    background-color: #ffffff;
}
.about-section{
    &__title{
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 250%;
        margin-bottom: 3rem;
        color: $color-primary-light;
        cursor: pointer;
        &:hover{
            transform: skewX(5deg) scale(1.1);
            transition: all 0.3s;
        }
    }
    &__paragraph{
        font-size: 130%;
        line-height: 2rem;
        font-style: italic;
        margin-bottom: 1rem;
        color: $color-primary-light;
        span{
            color: $color-primary;
        }
    }
}
.services-section{
    &__title{
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 250%;
        margin-bottom: 1.5rem;
        color: $color-primary-light;
        cursor: pointer;
        &:hover{
            transform: skewX(5deg) scale(1.1);
            transition: all 0.3s;
        }
    }
    &__paragraph{
        text-align: center;
        color: $color-primary-light;
        margin-bottom: 2rem;
        span{
            color: $color-primary;
        }
    }
    &__main-content{
        font-size: 160%;
        text-transform: uppercase;
        text-align: center;
        color: $color-primary-light;
    }
    &__description{
        text-align: center;
        margin-bottom: 1.5rem;
        color: $color-primary-light;
        font-style: italic;
    }

}

.clients-section{
    &__title{
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 250%;
        margin-bottom: 1.5rem;
        margin-top: 2rem;
        color: $color-primary-dark;
        cursor: pointer;
        &:hover{
            transform: skewX(5deg) scale(1.1);
            transition: all 0.3s;
        }
    }
    &__paragraph{
        text-align: center;
        color: $color-primary-dark;
        font-size: 120%;
        margin-bottom: 2rem;
        span{
            color: $color-primary;
        }
    }
}

.contact-section{
    &__title{
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 200%;
        margin-bottom: 1.5rem;
        color: $color-primary-light;
        cursor: pointer;
        &:hover{
            transform: skewX(5deg) scale(1.1);
            transition: all 0.3s;
        }
    }

    &__HQ{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 100%;
        margin-bottom: 1.5rem;
        color: $color-primary-light;
        border-bottom: 0.1rem solid $color-orange;
    }

    &__info{
        li{
            list-style: none;
            color: $color-primary-light;
            margin-bottom: 1.2rem;
            line-height: 1.5rem;
            span{
                font-weight: 700;
            }
            .contact_icon{
                margin-right: .4rem;
                color: $color-orange;
                &:hover{
                    transform: scale(1.5);
                    transition: all 0.3s;
                }
            }
        }
    }

    &__support{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 100%;
        margin-bottom: 1.5rem;
        color: $color-primary-light;
        border-bottom: 0.1rem solid $color-orange;
    }

    &__onlinesupport{
        margin-bottom: 1.5rem;
        li{
            display: inline-block;
            margin-right: 1.2rem;
            margin-top: .8rem;
        }
        .contact__btn{
            color: $color-primary-light;
            text-decoration: none;
            font-size: 120%;
            background-color: $color-primary;
            padding: .5rem;
            border-radius: .5rem;

            .support_icon{
                margin-right: .4rem;
            }

            &:hover{
                background-color: $color-primary-light;
                color: $color-primary-dark;
                transition: all 0.3s;
                box-shadow: 0 0 1rem $color-primary, 0 0 1.5rem $color-primary, 0 0 2rem $color-primary;
            }
            &:active{
                background-color: $color-orange;
                color: $color-primary-dark;
            }
        }
    }

    &__connect{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 100%;
        margin-bottom: 2rem;
        color: $color-primary-light;
        border-bottom: 0.1rem solid $color-orange;
    }

    &__socialnetwork{
        
        li{
            display: inline-block;
            font-size: 280%;
        }
        .socialnetwork__btn{
            margin-right: 1.5rem;
            .social_icon{
                color: $color-white;

                &:hover{
                    color: $color-orange;
                    transform: scale(1.5);
                    transition: all 0.3s;
                }
            }
        }
    }
}

// ------------------------------------- ABOUT ----------------------------------------

.intro{
    &__title{
        margin-top: 1rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        font-size: 300%;
        margin-bottom: 0.5rem;
        color: $color-primary-light;
        cursor: pointer;
        display: flex;
        &:hover{
            transform: skewX(1deg) scale(1.05);
            transition: all 0.3s;
        }
        &:before,
        &:after {
            content: '';
            border-top: 0.1rem solid;
            margin-top: 1.5rem;
            margin-right: 0.5rem;
            flex: 1 0 1rem;
        }
        &:after {
            margin-top: 1.5rem;
            margin-left: 0.5rem;
        }
    }
    &__paragraph{
        color: $color-primary-light;
        font-size: 120%;
        line-height: 1.8rem;
        span{
            font-weight: 700;
            color: $color-primary-dark;
        }
    }
}
.functions{
    &__main-content{
        display: block;
        text-align: center;
        font-size: 120%;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 2rem;
        cursor: default;
    }
    .row{
        border-bottom: 0.1rem solid $color-primary-light;
    }
    &__description{
        color: $color-primary-light;
        line-height: 1.8rem;
    }
    i{
        font-size: 400%;
        display: flex;
        margin-left: 4.3rem;
        margin-bottom: 1.5rem;
        margin-top: 3rem;
        color: $color-orange;
        
    }
}

// ------------------------------------- SERVICES ----------------------------------------
.services{
    &__title{
        margin-top: 1rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        font-size: 300%;
        margin-bottom: 1rem;
        color: $color-primary-light;
        cursor: pointer;
        display: flex;
        &:hover{
            transform: skewX(1deg) scale(1.05);
            transition: all 0.3s;
        }
        &:before,
        &:after {
            content: '';
            border-top: 0.1rem solid;
            margin-top: 1.5rem;
            margin-right: 0.5rem;
            flex: 1 0 1rem;
        }
        &:after {
            margin-top: 1.5rem;
            margin-left: 0.5rem;
        }
    }

    &__main-content{
        display: block;
        text-transform: uppercase;
        font-size: 130%;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }
    &__description{
        &--IaaS{
            color: $color-primary-light;
            margin-bottom: 3rem;
            padding: 1rem;
            border: 0.1rem solid $color-primary-light;
            line-height: 1.5rem ;
        }
        &--PaaS{
            color: $color-primary-light;
            margin-bottom: 3rem;
            padding: 1rem;
            border: 0.1rem solid $color-primary-light;
            line-height: 1.5rem ;
        }
        &--SaaS{
            color: $color-primary-light;
            margin-bottom: 3rem;
            padding: 1rem;
            border: 0.1rem solid $color-primary-light;
            line-height: 1.5rem ;
            .SDocument{
                color: $color-primary;
                font-weight: 700;
            }
            .SSheet{
                color: $color-green;
                font-weight: 700;
            }
            .SSlides{
                color: $color-orange-light;
                font-weight: 700;
            }
            .SNotes{
                color: $color-violet;
                font-weight: 700;
            }
            .SMail{
                color: $color-primary-medium;
                font-weight: 700;
            }
        }
    }

}

// ----------------------------------- CONTACT ---------------------------------------
.contacts{
    &__title{
        margin-top: 1rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        font-size: 300%;
        margin-bottom: 3rem;
        color: $color-primary-light;
        cursor: pointer;
        display: flex;
        &:hover{
            transform: skewX(1deg) scale(1.05);
            transition: all 0.3s;
        }
        &:before,
        &:after {
            content: '';
            border-top: 0.1rem solid;
            margin-top: 1.5rem;
            margin-right: 0.5rem;
            flex: 1 0 1rem;
        }
        &:after {
            margin-top: 1.5rem;
            margin-left: 0.5rem;
        }
    }
}