
// ------------------------------------------INDEX------------------------------------------------
.about-section{
    background-image: linear-gradient(to left, rgba($color-background-light,1.2rem),rgba($color-background-dark,2rem));
}
.services-section{
    background-image: linear-gradient(to left, rgba($color-background-dark,1rem),rgba($color-background-light,2rem));
}
.clients-section{
    background-color: $color-primary-light;
}
.contact-section{
    background-image: linear-gradient(to left, rgba($color-background-light,1.2rem),rgba($color-background-dark,2rem));
}
// ----------------------------------- ABOUT ----------------------------------------------------
.intro{
    background-image: linear-gradient(to left, rgba($color-background-light,1.2rem),rgba($color-background-dark,2rem));
}
.functions{
    background-image: linear-gradient(to left, rgba($color-background-light,1.2rem),rgba($color-background-dark,2rem));
}

// ----------------------------------- SERVICES -------------------------------------------------
.services{
    background-image: linear-gradient(to left, rgba($color-background-light,1.2rem),rgba($color-background-dark,2rem));
}

//---------------------------------- CONTACTS ---------------------------------------------------
.contacts{
    background-image: linear-gradient(to left, rgba($color-background-light,1.2rem),rgba($color-background-dark,2rem));
}